.venv/
.venv_*/
.python-version
.python-versions
uv.lock
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
.coverage.*
htmlcov/
.tox/
.nox/
build/
dist/
.DS_Store
.idea/
